# FastAPI Framework
fastapi[all]

# ASGI Server
uvicorn[standard]  # ASGI server for production
psycopg2
# Database (SQLAlchemy, Alembic, asyncpg)
sqlalchemy[asyncio]  # SQLAlchemy ORM with async support
asyncpg  # PostgreSQL async driver
alembic  # Database migrations


sentry-sdk  # Sentry for error tracking

# API Rate Limiting
slowapi  # Rate-limiting middleware for FastAPI

python-dotenv  # Environment variable management
orjson  # Ultra-fast JSON handling
pydantic[email]  # Pydantic email validation

elasticsearch_dsl[async]


